<%= stylesheet_link_tag 'settings_form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= form_with url: admin_developer_update_developer_path, method: :post, local: true, id: "developer-form" do |form| %>
  <%= form.fields_for :settings, settings_form do |ff| %>
    <fieldset class="fieldset">
      <legend class="legend">General</legend>
      <ol class="form-list">
        <li class="form-item">
          <div class="form-item-with-control-to-the-left">
            <%= ff.check_box :developer_mode_enabled, { class: "form-checkbox", checked_value: "true", unchecked_value: "false" } %>
            <%= ff.label :developer_mode_enabled, 'Enable Developer Mode', class: "form-label-with-control-to-the-left" %>
          </div>
          <div class="form-item-with-control-to-the-left">
            <%= ff.check_box :display_fps_meter, { class: "form-checkbox", checked_value: "true", unchecked_value: "false" } %>
            <%= ff.label :display_fps_meter, 'Display FPS Statistics', class: "form-label-with-control-to-the-left" %>
          </div>
        </li>
      </ol>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="legend">Information</legend>
      <ol class="form-list">
        <li class="form-item">
          <%= label_tag :cpu_temperature, "CPU Temperature: #{@system_info[:cpu_temperature]} °C", class: "form-label-with-control-to-the-left" %>
        </li>
      </ol>
    </fieldset>
  <div class="submit-button-container">
    <%= form.submit "Save Settings", class: "submit-button" %>
  </div>
  <% end %>
<% end %>
