<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <%= stylesheet_link_tag 'startup', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'startup', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body data-spotify-yam-feature="<%= Settings.find_by(var: :yam_feature_enabled).value %>">
<div class="video-container">
  <%= video_tag 'startup_background.mp4', type: "video/mp4", autoplay: true, loop: true, muted: true, playsinline: true,  preload: 'auto', alt: "Canvas Video", id: "background-video" %>
</div>
<div id="logo">
  <%= image_tag 'logo.png', alt: 'Logo' %>
</div>
<div class="qr-container">
  <div class="qr-code"><%= raw @qr_svg %></div>
  <div class="text-container">
    <p class="title"><%= @notice_title %></p>
    <p class="message"><%= @notice_message %></p>
  </div>
</div>
</body>
</html>
