<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <%= stylesheet_link_tag 'startup', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'startup', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="video-container">
  <%= video_tag 'startup_background.mp4', type: "video/mp4", autoplay: true, loop: true, muted: true, playsinline: true, alt: "Canvas Video", id: "background-video" %>
</div>
<div id="logo">
  <%= image_tag 'logo.png', alt: 'Logo' %>
</div>
<div class="qr-container">
  <div class="qr-code"><%= raw @qr_svg %></div>
  <div class="text-container">
    <p class="title">DEVICE OFFLINE</p>
    <p class="message">Scan QR code to setup Wifi connection for your Upframe</p>
  </div>
</div>
</body>
</html>
