<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <%= stylesheet_link_tag 'spotify_yam', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'spotify_yam', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="video-container">
  <%= video_tag 'spotify_yam_background.mp4', type: "video/mp4", autoplay: true, loop: true, muted: true, playsinline: true,  preload: 'auto', alt: "Canvas Video", id: "background-video" %>
</div>
<div class="prompt">
  <p>Be the DJ: Scan to Play!</p>
</div>
<div class="qr-container">
  <div class="qr-code"><%= raw @qr_svg %></div>
</div>
</body>
</html>
